<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="js/chat.js"></script>
</head>

<body>
    <div class="chat_window">
        <div class="top_menu">
            <div class="buttons">
                <div class="button cloze"></div>
                <div class="button minimize"></div>
                <div class="button maximize"></div>
            </div>
            <div class="title">NetÇet</div>
        </div>
        <div class="middle">
            <ul class="messages"></ul>
        </div>
        <div class="bottom_wrapper clearfix">
            <div class="message_input_wrapper"><input class="message_input" placeholder="Type your message here..." /></div>
            <div class="send_message">
                <div class="icon"></div>
                <div class="text">Send</div>
            </div>
        </div>
    </div>
    <div class="message_template">
        <li class="message">
            <div class="avatar">
				<span class="username_first_letter"></span>
			</div>
            <div class="text_wrapper">
                <div class="text"></div>
				<div class="message_time"></div>
            </div>
        </li>
    </div>

    <div class="info_message_template">
        <li class="message">
            <div class="text_wrapper">
                <div class="text"></div>
				<div class="message_time"></div>
            </div>
        </li>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/client.js"></script>

</body>

</html>