<!doctype html>
<html>

<head>
    <title>netçet - 880</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
    <div>
        <div class="container">
            <div>
                NETÇET
                <button id="btnSettings">Settings</button>
            </div>
            <div>
                <div id="chatdiv">
                    <div id="messagesBox"></div>
                </div>
            </div>
        </div>
        <form action="">
            <input id="m" autocomplete="off" /><button>Send</button>
        </form>
    </div>

    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Settings</h2>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <p><a href="https://github.com/agtokty/netcet" target="_blank">netçet</a></p>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/client.js"></script>
    <script>
        var modal = document.getElementById('myModal');
        var btn = document.getElementById("btnSettings");
        var span = document.getElementsByClassName("close")[0];

        btn.onclick = function() {
            modal.style.display = "block";
        }

        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>

</html>